{% extends 'base.html' %}

{% block content %}
    <div class="main-wrapper">
        <div class="sidebar-container">
            <div class="sidebar-header">
                {% if notes %}
                    <h2>Tasks</h2>
                    <form class="pure-form">
                        <p>Sort: <select onchange ="if (this.value)window.location.href=this.value">
                            <option value="/notes?sort=new">Newest first<option>
                            <option value="/notes?sort=old">Oldest first<option>
                        </select></p>
                        <label for="show-full" class="pure-checkbox">
                        <input type="checkbox" id="show-full" onclick="change_list();" /> Show full list</label>
                    </form>
                {% elif individual_note %}
                    <h2>Options</h2>
                {% endif %}
            </div>
            <div class="sidebar">
                {% if notes %}
                    <ul>
                        {% for note in notes %}
                            <a href="/notes/{{ note.id }}">
                                <h3 class="oi" data-glyph="file"> {{ note.title }}</h3>
                            </a>
                        {% endfor %}
                    </ul>
                    {% if prev_url %}
                        <a href="{{prev_url }}">Previous</a>
                    {% endif %}
                    {% if next_url %}
                        <a style="float: right;" href="{{next_url }}">Next</a>
                    {% endif %}
                {% elif individual_note %}
                    <form style="text-align: left;" class="pure-form" action="" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        <a href="/edit/notes/{{individual_note.id}}" class="pure-button pure-button-primary">Edit</a>
                        {{ form.submit(class_="pure-button button-error") }}
                    </form>
                    <p>Task is due:<br>
                        {% if individual_note.due_date == None %}
                            Not set
                        {% else %}
                            {{ individual_note.due_date }}
                        {% endif %}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="main-view">
        {% if individual_note %}
            <h1>{{ individual_note.title }}</h1>
            <span style="white-space: pre-wrap">{{ individual_note.content }}</span>
        {% else %}
            <div style="text-align: center; margin: auto;">
                {% if notes %}
                    <h2>Select a task to view it</h2>
                {% else %}
                    <h2>You do not seem to have any tasks.<br>Added tasks are shown here</h2>
                {% endif %}
            </div>
        {% endif %}
    </div>

    <script>
        var url = new URL(window.location.href);
        if (url.searchParams.get('list') == 'full') {
            document.getElementById('show-full').checked = true;
        } else {
            document.getElementById('show-full').checked = false;
        }
        function change_list() {
            if (document.getElementById('show-full').checked) {
                url.searchParams.set('list', 'full');
                window.location.href = url;
            } else {
                url.searchParams.set('list', 'basic');
                window.location.href = url;
                document.getElementById('show-full').checked = false
            }
        }
    </script>

{% endblock %}